<h2>Создать пользователя</h2>
<form action="/Home/Push" method="post">
    <div class="item">
        <label>UserKey</label>
        <input name="UserKey"  />
    </div>
    <div class="item">
        <label>Message</label>
        <input name="Message"  />
    </div>
    <div class="item">
        <label>TokenKey</label>
        <input name="TokenKey"  />
    </div>
    <input type="submit" value="Отправить" />
</form>